@model WebApplication6.Models.TimeRotation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TimeRotation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TimeRotationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeRotationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeEnd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TimeRotationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
